In [1]:
import pandas as pd
import sklearn
from sklearn.model_selection import train_test_split
from sklearn import preprocessing
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score
from sklearn.metrics import classification_report
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_validate

In [2]:
#Leemos el dataset con las primeras 10 características
df = pd.read_csv("complete.csv",index_col=0)
df = sklearn.utils.shuffle(df)
X = df.drop("result",axis=1).values
X = preprocessing.scale(X)
y = df['result'].values
df.head()

,lengthUrl,domainAge,anchorUrl,abnormalURL,requestUrl,domainRegisterAge,httpsToken,haveSubdomain,hasMD5,hasSHA1,...,Columna12,Columna5,Columna6,Columna7,Columna8,Columna3,Columna4,Columna2,Columna1,result
Ord.,,,,,,,,,,,,,,,,,,,,,
6308,0,-1,-1,-1,-1,-1,1,0,-1,-1,...,1,1,1,1,1,1,1,1,1,1
756,-1,-1,-1,-1,-1,-1,1,-1,-1,-1,...,1,1,1,1,1,1,1,1,1,1
6977,1,-1,-1,-1,-1,-1,1,0,-1,-1,...,1,1,1,1,1,1,1,1,1,1
1482,1,-1,-1,-1,-1,-1,1,0,-1,-1,...,1,1,1,1,1,1,1,1,1,1
985,0,-1,-1,-1,1,-1,1,-1,-1,-1,...,1,1,1,1,1,1,1,1,1,1

In [3]:
def mean_score(scoring):
    return {i:j.mean() for i,j in scoring.items()}

scoring = {'accuracy': 'accuracy',
           'recall': 'recall',
           'precision': 'precision',
           'f1': 'f1'}
fold_count=10

In [4]:
from sklearn.ensemble import RandomForestClassifier
rforest_clf = RandomForestClassifier()
cross_val_scores = cross_validate(rforest_clf, X, y, cv=10, scoring = scoring)
rforest_clf_score = mean_score(cross_val_scores)
print(rforest_clf_score)

/Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages/sklearn/model_selection/_split.py:700: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=10.
  warnings.warn(

{'fit_time': 0.06679208278656006, 'score_time': 0.004306864738464355, 'test_accuracy': 0.99985835694051, 'test_recall': 1.0, 'test_precision': 0.99985835694051, 'test_f1': 0.9999291282778172}